#bountyhunter {
    display: none;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -450px;

    width: 900px;
    height: 600px;
    color: #000;

    background-image: url('../images/woodpanels.jpg');
    background-repeat: no-repeat;
    background-size: 900px 600px; 
}
#bountyhunter .posting {
    background-image: url('../images/wanted.jpg');
    background-repeat: no-repeat;
    background-size: 175px 200px; 
    display: inline-block; 
    vertical-align: top; 
    width: 175px; 
    height: 200px; 
    padding: 4px;
    margin: 2px;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 50px;
}

#bountyhunter .posting img
{
    border: solid 1px #000; 
    min-width: 75px; 
    min-height: 90px;
    margin-top: 30px;
}

#delivery {
    display: none;
}

#doctor {
    display: none;
}

#fisher {
    display: none;
}

#hunter {
    display: none;
}

#lawman {
    display: none;
}

#moonshiner {
    display: none;
}

#messageDialog {
    display: none;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75;
    margin-left: -200px;

    width: 400px;
    height: 150px;
    color: #fff;
    background-color: gray;
    border: solid 1px #000;
    text-align: center;
}

#messageDialog .message {
    font-size: 0.9em;
}

#yesNoDialog {
    display: none;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75;
    margin-left: -200px;

    width: 400px;
    height: 150px;
    color: #fff;
    background-color: gray;
    border: solid 1px #000;
    text-align: center;
}

#yesNoDialog .title {
    font-size: 1.2em;
}
#yesNoDialog .message {
    font-size: 1.1em;
    height: 60px;
}

#progressBar {
    position:absolute;
    width:80px;
    height:80px;
    bottom:10%;
    right:25%;
    left:50%;
    margin-left:-40px;
    display: none;
}